defaults: &defaults
  Facebook:
    APP_ID: seret
    APP_SECRET:seret


development:
  <<: *defaults
  neat_setting: 800
    Braintree: 
    MERCHANT_ID: "..."
    PUBLIC_KEY: "..."
    PRIVATE_KEY: "..."

test:
  <<: *defaults

production:
  <<: *defaults