<h1> 編輯商品：<%= @product.name %> </h1>
<br>
<%=render 'form' %>
<br>
<%= link_to '返回詳細資料', admin_product_path(@product), class: 'btn btn-info' %>
<%=link_to '返回商品列表', admin_products_path, class: 'btn btn-success' %>