
<li>
    <%=link_to cart_path do %>
     購物車
     <% if @cart && @cart.has_item?  %>
       <span class="badge"> <%=@cart.items.count %> </span>
     <% end %>
    <% end %>
</li>

<%# if @cart.items.count > 0 %> 

<%#<li> <%#=link_to "購物車 <span class ='badge'> #{@cart.items.count} </span>".html_safe, cart_path %> <%#</li>

<%# else %>

<%#<li> <%#=link_to "購物車", cart_path %> <%#</li>
<%# end %>